body {
  position: relative;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 100px;
}

h1,
h2,
h3 {
  text-align: center;
}

img {
  display: block;
  /* Ensure the images don't have any space below them (common with inline-block elements) */
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
  border-bottom: 10px solid darkblue;
  background-color: lightblue;
}

.container {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  border: 15px solid black;
  /* Add position relative here if it's not already inherited from body */
  position: relative;
}

.absolute-container {
  position: relative;
  /* No changes needed here */
}

/* Positioning for #relative-box-2 */
#relative-box-2 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Adjustments made to center the box within its container */
}

/* Positioning for #absolute-box-2 */
#absolute-box-2 {
  position: absolute;
  right: -100%; /* Move it right outside the container */
  top: -100%; /* Move it up outside the container */
  /* Adjustments made to position the box outside the upper right corner of its container */
}
